@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(75, 0, 130, 0.4), 0 0 20px rgba(138, 43, 226, 0.6);
    }
    50% {
      box-shadow: 0 0 20px rgba(75, 0, 130, 0.7), 0 0 40px rgba(138, 43, 226, 0.9);
    }
    100% {
      box-shadow: 0 0 10px rgba(75, 0, 130, 0.4), 0 0 20px rgba(138, 43, 226, 0.6);
    }
  }

  .animate-glow {
    animation: glow 2s infinite alternate ease-in-out;
    position: absolute;
    border-radius: 50%;
    border: 5px solid transparent;
  }
  /* Transparent scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Adjust width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Makes track transparent */
}

::-webkit-scrollbar-thumb {
  
  background: rgba(117, 1, 174, 0.582); /* Semi-transparent thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(136, 0, 255, 0.262); /* Slightly visible on hover */
}

